<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{subscribe.page.title}"></title>
    <link href="http://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css" rel="stylesheet" type="text/css">

    <style>
        .main.container {
            margin-top: 20em;
        }

        .ui.segment {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .ui.container {
            margin-bottom: 1em;
            width: 50%;
        }
    </style>
</head>
<body>

<div class="ui main container">

    <div class="ui container">
        <h4 class="ui center aligned header" th:text="#{subscribe.page.header}"></h4>
    </div>

    <div class="ui container">

        <div class="ui error message" th:if="${!error?.isEmpty()}">
            <div class="header" th:text="#{subscribe.page.error}"></div>
            <p th:text="${error}"></p>
        </div>

        <div class="ui segment">

            <form method="post" th:action="@{/confirm}" class="ui form">
                <div class="field">
                    <label th:text="#{subscribe.page.name.input}"></label>
                    <input type="text" name="name" th:placeholder="#{subscribe.page.name.placeholder}">
                </div>
                <div class="field">
                    <label th:text="#{subscribe.page.email.input}"></label>
                    <input type="text" name="email" th:text="#{subscribe.page.email.placeholder}">
                </div>

                <button class="ui button" type="submit" th:text="#{subscribe.page.subscribe.button}"></button>
            </form>

        </div>
    </div>

</div>

</body>
</html>